@charset "UTF-8";
/* CSS Document */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #e5e5e5;
}

.chat-app {
    max-width: 600px;
    margin: auto;
    background: white;
}

.chat-header {
    background: #3e62dc;
    padding: 10px;
    text-align: center;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: #3e62dc;
    color: white;
    font-size: 12px;
}

.chat-title {
    background: #3e62dc;
    color: white;
    padding: 10px;
    font-size: 16px;
}

.chat-messages {
    padding: 20px;
    height: 500px;
    overflow-y: scroll;
}

.date {
    text-align: center;
    color: #888;
    margin: 10px 0;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message.received {
    background: #f7f8fc;
    align-self: flex-start;

}

.message.sent {
    background: #3e62dc;
    color: white;
    align-self: flex-end;
    text-align: right;
	float: right;
}

.message .name {
    font-weight: bold;
}


.message .time_recive {
	font-size: 12px;
    color: #888;
}

.message .time_send {
    font-size: 12px;
    color: #fff;
}

.chat-input {
    padding: 10px;
    background: #f0f0f0;
}

.chat-input input {
    width: 95%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.chat-input input:focus {
    outline: none;
}
